
 <script type='text/javascript'>
           document.getElementById('play').style.visibility='hidden';
</script>
<div class="row">
    <div id="story" class=".col-md-6">
        <p>Done!</p>
    </div>
</div>
 
<div class="row">
    <div id="story" class=".col-md-4"> 
        You scored {{points}} out of 5!
    </div>

    <div class="row">
    <div id="story" class=".col-md-6">
        <p><a href="/">Play Again</a></p>
    </div>
</div>
</div>


