<script>
		setTimeout(function(){
			$(function(){
			$(".element1").typed({
        		strings: ["Mother City"],
        		typeSpeed: 5,
        		showCursor:false
     		 });
  		});
     		 
		},1000)

		setTimeout(function(){
			$(function(){
			$(".element2").typed({
        		strings: ["Resorts"],
        		typeSpeed: 5,
        		showCursor:false
     		 });
  		});
     		 
		},2000)
	
 		 
	</script>

<div class="element1"></div>
	<div class="element2"></div>
 <div id="story" class=".col-md-6">
    	     	 	<p>Cape Town Resorts Quiz</p>
                    <small><small>Get to know your city</small></small>
            </div>    	    

    	    <a href='./question/1' ><img id= 'play' src='/images/play.png' onclick="document.getElementById('play').style.transform ='scale(1.5)'"></a>

