

    	 <script type='text/javascript'>
           document.getElementById('play').style.visibility='hidden';

         </script>

    	 <div id="wrapper" class=".col-md-4"> 
    	 

    	 </div>

    	 <div id="progress"></div>

    	 <div id="feedback" class='btn btn-lg btn-primary'> 
    	   <span id="level"class='btn btn-lg btn-primary' >LEVEL 1</span>
    	   <span id="hint" class="btn btn-lg btn-primary"><a href="#userhint" class="open-popup-link">HINT</a></span>    	
    	   <span id="points" class="btn btn-lg btn-primary"> 0 POINTS</span>    	   
    	 </div>

    	


